.App.ui.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.ui.card{
  padding: 10px;
  h3{
    display: flex;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid #bfbfbf;
  }
  .ui.form{
    margin: 10px;
    .ui.dropdown{
      width: 270px;
    }
  }
  p{
    margin-bottom: 4px;
  }

  .error-radio{
    color:#9f3a38;
  }

  .ui.pointing.above.prompt.label{
    width: 270px;
  }

  .fuelType.radio{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 270px;
    margin-bottom: 14px;
    div{
      label{
        margin: 0 5px 0 0;
        padding: 0 5px 0 0;
        span{
          padding: 0 5px;
        }
      }
    }
  }
}

.ui.button.submit{
  width: 270px;
  
}


.header {
  display: flex;
  
  .title__header {
    font-size: smaller;
    border: solid thin black;
    padding: 3px;
  }
}

.report_body {
  display: flex;

  .content__report_body {
    font-size: smaller;
    border: solid thin black;
    padding: 3px;
  }

  .timestamp{
    display: flex;
    justify-content: flex-end;
  }
}

.timestamp{
  width: 190px;
}

.num, .wheelDia, .combineWgt, .augerLen, .fuelType, .totalTime, .totalCost, .numPasses, .electricRuns, .fieldCoverage, .totalEfficiency  {
  display: flex;
  justify-content: flex-end;
}

.num {
  width: 30px;
}

.wheelDia {
  width: 85px;
}

.combineWgt {
  width: 100px;
}

.augerLen {
  width: 67px;
}

.fuelType {
  width: 60px;
}

.totalTime {
  width: 130px;
}

.totalCost {
  width: 70px;
}

.numPasses {
  width: 158px;
}

.electricRuns{
  width: 60px;
}

.fieldCoverage {
  width: 100px;
}

.totalEfficiency {
  width: 90px;
}

@media 
only screen and (max-width: 1224px) {
  
  .header{
    display: flex;
    flex-direction: column;
    .title__header {
      justify-content: flex-start;
      font-size: smaller;
      border: solid thin black;
      padding: 3px;
      width: 240px;
    }
  }

  .shaded :nth-of-type(odd){
    background-color: cornflowerblue;
  }

  .report_body {
    display: flex;
    flex-direction: column;

    .content__report_body {
      font-size: smaller;
      border: solid thin black;
      padding: 3px;
    }

    .num, .wheelDia, .combineWgt, .augerLen, .fuelType, .totalTime, .totalCost, .numPasses, .electricRuns, .fieldCoverage, .totalEfficiency {
      width: 190px;
    }

  }

  .isTabletOrMobile {
    display: flex;
  }
}