.header {
  display: flex;
  .title__header {
    font-size: smaller;
    border: solid thin black;
    padding: 3px;
  }
}




.report_body {
  display: flex;

  .content__report_body {
    font-size: smaller;
    border: solid thin black;
    padding: 3px;
  }

}

.num {
  display: flex;
  justify-content: center;
  width: 14px;

}

.wheelDia {
  display: flex;
  justify-content: flex-end;
  width: 125px;
}

.combineWgt {
  display: flex;
  justify-content: flex-end;
  width: 168px;
}

.augerLen {
  display: flex;
  justify-content: flex-end;
  width: 107px;
}

.fuelType {
  display: flex;
  justify-content: flex-end;
  width: 60px;
}

.totalTime {
  display: flex;
  justify-content: flex-end;
  width: 210px;
}

.totalCost {
  display: flex;
  justify-content: flex-end;
  width: 70px;
}

.numPasses {
  display: flex;
  justify-content: flex-end;
  width: 158px;
}

@media 
only screen and (max-width: 1224px) {

  .header{
    display: flex;
    flex-direction: column;
    .title__header {
      justify-content: flex-start;
      font-size: smaller;
      border: solid thin black;
      padding: 3px;
      width: 220px;
    }
  }


  .report_body {
    display: flex;
    flex-direction: column;

    .content__report_body {
      font-size: smaller;
      border: solid thin black;
      padding: 3px;
    }

    .num, .wheelDia, .combineWgt, .augerLen, .fuelType, .totalTime, .totalCost, .numPasses {
      width: 100px;
    }

  }

  .isTabletOrMobile {
    display: flex;
  }
}